.grid-container {
  margin: 0 auto;
  padding: 10px;
  max-width: 320px;
}

ul {
  margin: 0;
  padding: 1em 0 0 0;
}

.grid-container > div,
li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
